
<!-- views/users/show.html.erb -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          User Profile
        </div>
        <div class="card-body">
          <% if current_user.photo.attached? %>
            <%= image_tag current_user.photo, class: 'card-img-top img-fluid  d-block' 'reduced-image'%>
          <% end %>
          <h5 class="card-title"><%= @user.name %> <%= @user.last_name %></h5>
          <p class="card-text">
            <strong>Email:</strong>
            <%= @user.email %>
          </p>
          <p class="card-text">
            <strong>Phone number:</strong>
            <%= @user.phone_number %>
          </p>
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer text-muted">
          <%= link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-outline-primary' %>
          <%= link_to 'Delete account', user_path(@user), method: :delete, data: { confirm: '¿Are you sure?' }, class: 'btn btn-outline-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
