<div class="container">
  <%= link_to "Return", products_index_path %>
</div>

<div class="container mt-4">
  <div class="row d-flex justify-content-center mt-3 rounded-2">
    <h1 class="h1-cart text-center" style="text-shadow: 1px 1px 1px #000000;">Orders</h1>
  </div>

  <div class="container mt-3">
    <div class="card mt-4">
      <div class="card-header bg-danger text-white">
        <h4 class="mb-0">My Orders</h4>
      </div>
      <div class="card-body">
        <% if @orders.any? %>
          <table class="table table-striped">
            <thead>
              <tr class="table-danger">
                <th>Date</th>
                <th>Status</th>
                <th>Order No.</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= order.date %></td>
                  <td class="<%= display_order_status_class(order.status) %>"><%= display_order_status(order.status) %></td>
                  <td><%= order.id %></td> <!-- New column for order number -->
                  <td>
                    <a href="<%= order_path(order) %>" class="text-decoration-none" title="View Order">
                      <i class="bi bi-eye"></i>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No orders found.</p>
        <% end %>
      </div>
    </div>
  </div>
